@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Merriweather:ital,opsz,wdth,wght@0,18..144,96.9,300..900;1,18..144,96.9,300..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
:root {
  /* font-family: "Edu NSW ACT Cursive", cursive; */
  font-family: "Dancing Script", cursive;
  line-height: 1.6;
}
